body{
	background-color:#DFDFDF;
}	
header{
	background-color:#009688;
	height:100px;
	width:100% !important;
}
/*chat principal*/
.cabecera{
	width:80%;
	margin-right:10%;
	margin-left:10%;
	height:500px;

	position:relative;
	top:-60px;
}
/*foto*/
.face{	
	border:1px solid #818C93;
	padding:2%;
	background-color:#EEEEEE;
	width:100%;
}
.gian{
	border-radius:100%;
	width:50px;
	margin-bottom:3px;
}
.icon-message{
	float: right;
    margin-top:15px;
    margin-right:20px;
    font-size: 25px;
    color:#7C7C7C;
}
.icon-dots-three-vertical{
	float: right;
    margin-top:15px;
    margin-right:5px;
    font-size: 25px;
    color:#7C7C7C;
}
/*buscar*/
.search{
	border:1px solid #818C93;
	padding:3%;
	background-color:white;
	
}
.search input{
	display: inline-block;
	border-radius:5px;
    border: 1px #ccc solid;
    width: 100%;
}
.icon-search{
	position:absolute;
	margin:8px 11px;
	color:#818C93;
}
.chat{
	padding:7px 34px;
}
/*amigos*/
.amigos{
	padding:4%;
	font-family:'Open Sans';
	border:1px solid #818C93;
	width:100%;
	background-color:white;
}
.amigos img{
	border-radius:100%;
	width:50px;
	float:left;
}
.info{
	display: inline-block;
    padding-left:7px;
    padding-top:1px;
    line-height: 20px;
    font-size: 13px;
    font-family:'Open Sans'
}
.hora{
	float:right;
	vertical-align:middle;
	padding-top:1%;
	font-size:12px;
}
.scrollbar{
	height:400px;
	overflow-y: scroll;
	overflow-x: hidden;
}
/*COL-7*/
.logo{
	border-radius:100%;
	width:40px;
}
.icon-attachment{
	float: right;
    margin-top:15px;
    margin-right:20px;
    font-size: 25px;
    color:#7C7C7C;
}
.icon-dots-three-vertical{
	float: right;
    margin-top:15px;
    margin-right:5px;
    font-size: 25px;
    color:#7C7C7C;
}
/*chat de gian*/
.chatlaboratoria{
	background-image:url("../image/chat-panel-bg.png");
	background-color:rgba(219, 198, 115, 0.43);
	height:400px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top:20px;
	padding-left:5px;
	padding-bottom:20px;
}
.rigth{
	padding:1%;
	font-family:'Open Sans';
	background-color:white;
	border-radius:5px;
	width:250px;
	margin-top:3px;
	margin-left:20px;
	font-size:10px;
}
.chathora{
	text-align:right;
}
.left{
	position: relative; 
	left: 450px;
	background-color: #A9F5A9;
    padding: 1%;
    font-family: 'Open Sans';
    border-radius: 5px;
    width: 150px;
    font-size: 10px;       
    margin-top:3px;
    margin-right:5px;
    text-align:right;
}
.andrea{
	color:#01DFD7;
}
.mariana{
	color:#B4045F;
}
.paula{
	color:#088A68;
}
.aldo{
	color:#DBA901;
}
/*notas*/
.textarea{
	text-decoration:none;
	background-color:#F2F0EE;
	height:60px;
	padding:10px;

}
.textarea a{
	text-decoration:none;
	color:#A9A8A6;
	font-size: 30px;
    vertical-align: middle;margin-right:5px;
}
.write{
	border-radius:5px;
	background-color:white;
	width:85%;
	height:40px;
	vertical-align:middle;
	font-size:15px;
	border:2px solid white;
}